<mat-toolbar color="primary"
             style="min-height: 45px !important; height: 45px !important;">
    <button mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <nav style="min-height: 45px !important; height: 45px !important;"
         mat-tab-nav-bar
         backgroundColor="primary">
        <a mat-tab-link
           *ngFor="let navItem of navItems"
           [routerLink]="navItem.link"
           routerLinkActive="link-active">
            {{ navItem.label }}
        </a>
    </nav>
    <span class="example-spacer"></span>
    <button mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>